{% if errors in report %}

    {% for error in report.errors %}
        <div class="alert alert-danger">
            <strong>Error!</strong>
            {{ error.message }}
        </div>
    {% endfor %}

{% else %}
    {% if focus_report %}
        <h3>Focus</h3>
        {% for focus_project in focus_report %}
            <h4>{{ focus_project.name }}</h4>
            <ul>
            {% for focus_ticket in focus_project.tickets if focus_ticket.link %}
                <li>({{ focus_ticket.status }}) <a href="{{ focus_ticket.link }}">{{ focus_ticket.summary }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <p class="lead">No reports found with the provided settings.</p>
        {% endfor %}
    {% endif %}

    {% for user_report in report if user_report.activities%}
        <h2>{{ user_report.user.first_name }} - Activity</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Assignee</th>
                    <th>Updates</th>
                </tr>
                {% for activity in user_report.activities if activity.ticket.number %}
                    <tr>
                        <td>{{ activity.ticket.number }}</td>
                        <td><a href="{{ activity.ticket.link }}" target="_blank">{{ activity.ticket.description }}</a></td>
                        <td>{{ activity.ticket.status }}</td>
                        <td>{{ activity.ticket.assignee.first_name }}</td>
                        <td><span>{{ activity.message|raw }}</span></td>
                    </tr>
                {% endfor %}
            </table>
        </div>

    {% else %}
        <p class="lead">No reports found with the provided settings.</p>
    {% endfor %}
{% endif %}